<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="form-control-block">
    <div class="form-control">
      <div class="label">ФИО</div>
      <input
        type="text"
        placeholder="ФИО"
        class="name"
        formControlName="name"
        disabled
      />
    </div>
    <div
      class="validators"
      *ngIf="form.get('name').invalid && form.get('name').touched"
    >
      <small *ngIf="form.get('name').errors.maxlength"
        >Максимальное количество символов 200</small
      >
    </div>
  </div>

  <div class="form-control-block">
    <div class="form-control">
      <div class="label">Псевдоним</div>
      <input
        type="text"
        placeholder="Псевдоним"
        class="nickname"
        formControlName="username"
      />
    </div>
    <div
      class="validators"
      *ngIf="form.get('username').invalid && form.get('username').touched"
    >
      <small *ngIf="form.get('username').errors.maxlength"
        >Максимальное количество символов 200</small
      >
    </div>
  </div>

  <div class="notifications">
    <label>
      <input type="checkbox" formControlName="notif" /> Оповещения
    </label>
    <div class="radio" *ngIf="form.get('notif').value">
      <div class="email">
        <label>
          <input type="radio" value="email" formControlName="radio" />
          Email
        </label>
        <input
          class="email_tel"
          type="text"
          placeholder="Email"
          formControlName="email"
          [readonly]="form.get('radio').value !== 'email'"
        />
      </div>
      <div
        class="validators"
        *ngIf="form.get('email').invalid && form.get('email').touched"
      >
        <small *ngIf="form.get('email').errors.email"
          >Неверный формат email</small
        >
        <small *ngIf="form.get('email').errors.maxlength"
          >Максимальное количество символов 200</small
        >
      </div>
      <br />
      <label>
        <input type="radio" value="tel" formControlName="radio" />
        Телефон
      </label>
      <input
        class="email_tel"
        type="text"
        placeholder="Телефон"
        formControlName="tel"
        [readonly]="form.get('radio').value !== 'tel'"
      />
      <div
        class="validators"
        *ngIf="form.get('tel').invalid && form.get('tel').touched"
      >
        <small *ngIf="form.get('tel').errors.phoneMistake"
          >Телефон должен начинаться с 89</small
        >
        <small *ngIf="form.get('tel').errors.maxlength"
          >Максимальное количество символов 11</small
        >
      </div>
    </div>
  </div>
  <div class="form-control">
    <button
      type="button"
      class="cancel"
      (click)="init()"
      [disabled]="checkForm(form.value)"
    >
      Отменить изменения
    </button>
    <button
      type="submit"
      class="save"
      [disabled]="form.invalid || checkForm(form.value)"
    >
      Сохранить изменения
    </button>
  </div>
</form>
