form {
  width: 40%;
  margin: auto;
  border: 2px solid black;
  padding: 40px 30px;
  border-radius: 5px;
  min-height: 300px;
}

input[type="text"] {
  border: 4px double #696969;
  border-radius: 5px;
  padding: 10px 5px;
}

input[type="checkbox"] {
  margin-top: 15px;
}

.form-control-block {
  margin-bottom: 20px;
}
.form-control {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .name,
  .nickname {
    width: 70%;
  }
}

.form-control:last-child {
  margin-bottom: 0;
}

.notifications {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  flex-wrap: wrap;

  .email {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.cancel,
.save {
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  margin-top: 20px;
}

.cancel {
  background-color: #f08080;
}

.save {
  background-color: #00ff7f;
}

.email_tel:read-only {
  opacity: 0.5;
  cursor: default;
}

.validators {
  display: flex;
  justify-content: flex-end;

  small {
    color: red;
    position: absolute;
    font-size: 12px;
  }
}
