<h2>Подключенные услуги</h2>
<div class="block_search">
  <input type="text" class="search" placeholder="Поиск" [(ngModel)]="filter" />
</div>
<ul>
  <li *ngFor="let good of user.goods | search: filter">
    <div *ngIf="good.connected" class="connected">
      <div class="date">
        <span class="date_span">{{ good.date }}</span
        >&nbsp;&nbsp; <span>{{ good.name }}</span>
      </div>
      <div class="price">
        <span>{{ good.price }} руб</span>
        <button (click)="remove(good.id)" class="remove"></button>
      </div>
    </div>
  </li>
</ul>
<div *ngIf="!connected.length">&laquo; Нет подключенных услуг &raquo;</div>
<h2>Доступные услуги</h2>
<hr />

<ul>
  <li *ngFor="let good of user.goods | search: filter">
    <div *ngIf="!good.connected" class="disconnected">
      <div class="check">
        <input
          type="checkbox"
          (change)="onChangeCheckbox($event, good.id)"
        />&nbsp;&nbsp;
        <span>{{ good.name }}</span>
      </div>
      <div class="price">{{ good.price }} руб</div>
    </div>
  </li>
</ul>
<div *ngIf="!disconnected.length">
  &laquo; Нет услуг для подключений &raquo;
</div>
<div class="add_block">
  <button (click)="addGoods()" class="add" [disabled]="!checkedGoods.length">
    Подключить услуги
  </button>
</div>
