:host {
  border: 2px solid black;
  padding: 20px 80px;
  border-radius: 5px;
  min-height: 500px;
  margin-left: 20px;

  .block_search {
    display: flex;
    margin-bottom: 20px;

    .search {
      width: 50%;
      margin: auto;
      border: 3px solid #696969;
      border-radius: 5px;
      padding: 10px 5px;
    }
  }

  .connected,
  .disconnected {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .remove {
    background-image: url("../../../assets/delete.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    margin-left: 20px;
    cursor: pointer;
  }

  .add_block {
    display: flex;

    .add {
      margin-left: auto;
      padding: 10px 15px;
      border-radius: 10px;
      background-color: #00ff7f;
      cursor: pointer;

      &:disabled {
        cursor: default;
      }
    }
  }

  .check input {
    cursor: pointer;
  }

  .date_span {
    opacity: 0.5;
  }
}
