
<div class="header">
    <div class="nav">
        <a [routerLink]="['/']" routerLinkActive="link-active" [routerLinkActiveOptions]="{exact:true}">Главная</a>
    </div>
    <div class="nav">
        <a [routerLink]="['/settings']" routerLinkActive="link-active">Настройки</a>
    </div>
    <div class="space">
    </div>
</div>
<div class="fixed-container">
    <router-outlet></router-outlet>
</div>
