.header {
  display: flex;
  background-color: #b0c4de;
  margin-bottom: 50px;
}

.nav {
  padding: 25px;
  border: 2px solid black;
  background-color: white;
}

.space {
  width: 100%;
  background-color: #dcdcdc;
  border-top: 2px solid #a9a9a9;
  border-bottom: 2px solid #a9a9a9;
}

.nav:first-child {
  border-right: none;
}

.link-active {
  font-weight: bold;
  cursor: default;
}
