<ul>
  <li
    *ngFor="let user of users"
    class="user"
    [ngClass]="{ selected: user.id === selectedId }"
    (click)="selectedUser(user.id)"
  >
    <p>{{ user.name }}</p>
    <span class="goods">Услуг:{{ user.goods.length }}</span>
    <span class="price">Абонентская плата:{{ user.price }} руб</span>
  </li>
</ul>
