:host {
  border: 2px solid black;
  padding: 20px 10px;
  border-radius: 5px;
  min-height: 500px;

  .user {
    border: 2px solid #a9a9a9;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    cursor: pointer;
  }

  .price {
    margin-left: 40px;
  }

  .selected {
    background-color: #a9a9a9;
    cursor: default;
  }
}
