/* You can add global styles to this file, and also import other style files */
html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
}

ul {
  margin: 0;
  padding: 0;
}

h2 {
  text-align: center;
}

.fixed-container {
  max-width: 1200px;
  margin: auto;
}
